<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <meta charset="utf-8"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
    <title>Volley | Game Tracker</title>
    <link rel="shortcut icon" href="{{ request.static_url('volley:static/volley-16x16.png') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css">
    {% endblock %}
</head>
<body>

<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.js"></script>

<div class="ui massive fixed inverted borderless menu">
    <div class="ui container">

        <a class="header item" href="/">
            <div>
                <img src="{{ request.static_url('volley:static/volley.png') }}" height="32" width="32"
                     alt="Volley | Game Tracker"/>
                Volley
            </div>
        </a>

        {% for g in all_games %}
            <a class="{{ "active" if game.name == g }} item" href="/{{ g|lower }}/">{{ g }}</a>
        {% endfor %}

    </div>
</div>

{% block body %}
{% endblock %}

</body>
</html>
