<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta charset="utf-8"/>
        <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
        <title>Volley | Game Tracker</title>
        <link rel="shortcut icon" href="{{ request.static_url('volley:static/volley-16x16.png',_scheme='https') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css">
    {% endblock %}
</head>
<body>

<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.js"></script>

<div class="ui massive fixed inverted borderless menu">
    <div class="ui container">

        <a class="header item" href="/">
            <div>
                Volley
                <img src="{{ request.static_url('volley:static/volley.png',_scheme='https') }}" height="32" width="32"
                     alt="Volley | Game Tracker"/>
            </div>
        </a>

        {% for g in all_games %}
            <a class="{{ "active" if game.name == g }} item gamelink" href="/{{ g|lower }}/">{{ g }}</a>
            <div class="ui flowing popup {{ g }}">
                <div class="ui link list">
                    <a class="item" href="/{{ g|lower }}/" >Overview</a>
                    <a class="item" href="/{{ g|lower }}/matchmaking/">Matchmaking</a>
                </div>
            </div>
        {% endfor %}

    </div>
</div>

<script>
    $('.menu a.item.gamelink').each(function(n, el) {
        $(el).popup({
            popup: $('.ui.flowing.popup.'+el.innerText),
            inline: true,
            hoverable: true,
            position: 'bottom left',
            lastResort: true,
        });
    });
</script>


{% block body %}
{% endblock %}

<style type="text/css">
    .main.container {
        margin-top: 7em;
    }

    .container.content {
        margin-top: 3em;
    }

    .playerlink {
        color: rgba(0,0,0, 0.8);
    }
</style>

</body>
</html>
