{% extends 'base.jinja2' %}

{% block body %}
<div class="ui main center aligned container">
    <h1 class="ui huge header">
        Add {{ game.name }} Game
    </h1>

    {% include 'match_submit.jinja2' %}

</div>

<div class="ui center aligned container content">
    <h1 class="ui huge header">
        History
    </h1>
    <div class="ui massive grid">
        <div class="ten wide column">
            {% include 'match_table.jinja2' %}
        </div>

        <div class="six wide column">
            {% include 'player_table.jinja2' %}
        </div>
    </div>
</div>
</div>

<style type="text/css">
    .main.container {
        margin-top: 7em;
    }

    .container.content {
        margin-top: 3em;
    }
</style>
{% endblock %}