{% extends 'base.jinja2' %}

{% block body %}
<div class="ui main center aligned container">
    <h1 class="ui huge header">
        Add {{ game.name }} Game
    </h1>

    {% include 'match_submit.jinja2' %}

</div>

<div class="ui center aligned container content">
    <h1 class="ui huge header">
        Overview
    </h1>
    <div class="ui massive stacking grid computer reversed">
        <div class="eight wide large screen sixteen wide column">
            {% include 'player_table.jinja2' %}
        </div>
        <div class="eight wide large screen sixteen wide column">
            {% include 'match_table.jinja2' %}
        </div>
    </div>
</div>
{% endblock %}