{% macro player_entry(p, match) -%}
    {{ p.name }}&nbsp;<span style="font-size:0.7rem">({% set rating_change = match.stats['rating_changes'][p.name] %}<span style="color:{% if rating_change < 0.0 %}red{% else %}green{% endif %}">{{ "%+0.2f" % rating_change }}</span>)</span>
{%- endmacro %}

<table class="ui celled striped unstackable table" id="data">
    <thead>
    <tr>
        <th>Date</th>
        <th>Team A</th>
        <th>Score</th>
        <th>Team B</th>
        <th>Odds</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for match in matches %}
        <tr>
            <td>{{ match.date.strftime("%d.%m.%y") }}</td>
            <td>{% for p in match.teams[0] %}{{ player_entry(p, match) }}{% if not loop.last %} <br>
            {% endif %} {% endfor %}</td>
            <td>{{ match.score[0] }}&nbsp;-&nbsp;{{ match.score[1] }}</td>
            <td>{% for p in match.teams[1] %}{{ player_entry(p, match) }}{% if not loop.last %} <br>
            {% endif %} {% endfor %}</td>
            <td>{{ match.stats['odds_a'] }}&nbsp;:&nbsp;{{ match.stats['odds_b'] }}</td>
            <td class="center aligned">
                <button class="ui button tiny compact delete-button" tabindex="-1">Delete</button>
                <a href="match/delete?id={{ match.uuid }}" tabindex="-1">
                    <button class="negative ui button tiny compact confirm-delete transition hidden" tabindex="-1">Do It!</button>
                </a>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <th colspan="6">
            <div class="ui right floated pagination menu">
                <a class="icon item" rel="0" id="t-prev">
                    <i class="left chevron icon"></i>
                </a>
                <a class="icon item" rel="0" id="t-next">
                    <i class="right chevron icon"></i>
                </a>
            </div>
        </th>
    </tr>
    </tfoot>
</table>

<script src="{{ request.static_url('volley:static/match_table.js') }}"></script>