<table class="ui celled striped table">
    <thead>
    <tr>
        <th>Date</th>
        <th>Team A</th>
        <th>Score</th>
        <th>Team B</th>
        <th>Odds</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for match in matches %}
        <tr>
            <td>{{ match.date.strftime("%d.%m.%Y") }}</td>
            <td>{% for p in match.teams[0] %}{{ p.name }}{{ ',' if not loop.last }} {% endfor %}</td>
            <td>{{ match.score[0] }} - {{ match.score[1] }}</td>
            <td>{% for p in match.teams[1] %}{{ p.name }}{{ ',' if not loop.last }} {% endfor %}</td>
            <td>{{ match.stats['odds_a'] }} : {{ match.stats['odds_b'] }}</td>
            <td class="center aligned">
                <button class="ui button tiny compact delete-button">Delete</button>
                <a href="match/delete?id={{ match.uuid }}">
                    <button class="negative ui button tiny compact confirm-delete transition hidden">Do It!</button>
                </a>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<script>
    $('.delete-button')
        .on('click', function () {
            $(this).transition('fade out', function () {
                $(this).parent().find('.confirm-delete').transition('fade in');
            });
        })
    ;
</script>