<table id="player-table" class="ui celled striped sortable table">
    <thead>
    <tr>
        <th>Player</th>
        <th class="num" >Matches</th>
        <th class="num" >Wins</th>
        <th class="num" >Losses</th>
        <th class="num" >σ (Confidence)</th>
        <th class="num" >μ (Skill)</th>
        <th class="num sorted descending">Rating</th>
    </tr>
    </thead>
    <tbody>
    {% for p in players %}
        <tr>
            <td>{{ p.name }}</td>
            <td>{{ p.matches|length }}</td>
            <td>{{ p.wins()|length }}</td>
            <td>{{ p.losses()|length }}</td>
            <td>{{ "%0.2f" % p.confidence() }}</td>
            <td>{{ "%0.2f" % p.skill() }}</td>
            <td>{{ "%0.2f" % p.exposure() }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<script src="{{ request.static_url('volley:static/jquery.tablesort.min.js') }}"></script>
<script>
    $('#player-table').tablesort();

    $('thead th.num').data('sortBy', function (th, td, tablesort) {
        return Number(td.text());
    });
</script>