{% extends 'base.jinja2' %}

{% block body %}

    <div class="ui main center aligned container grid">
        <div class="sixteen wide column">
            <h1 class="ui huge header">
                {{ player.name }}
            </h1>
        </div>

        <div class="sixteen wide column">
            <div class="ui six statistics">
                <div class="statistic">
                    <div class="value">
                        {{ player.matches | length }}
                    </div>
                    <div class="label">
                        Games
                    </div>
                </div>
                <div class="statistic">
                    <div class="value">
                        {{ player.wins() | length }}
                    </div>
                    <div class="label">
                        Wins
                    </div>
                </div>
                <div class="statistic">
                    <div class="value">
                        {{ longest_winstreak }}<span style="font-size:20%; line-height:1em">W</span>
                        / {{ longest_lossstreak }}<span style="font-size:20%; line-height:1em">L</span>
                        {% if player.matches %}
                            {% set win_rate = "%1.0f" % (((player.wins()|length)/(player.matches|length))*100) %}
                        {% else %}
                            {% set win_rate = "?" %}
                        {% endif %}
                    </div>
                    <div class="label">
                        Longest Streak
                    </div>
                </div>
                <div class="statistic">
                    <div class="value">
                        {{ num_played_opponents }} / {{ connectivity | length }}
                    </div>
                    <div class="label">
                        Opponents played
                    </div>
                </div>
                <div class="statistic">
                    <div class="value">
                        {{ "%0.1f" % player.exposure() }}
                    </div>
                    <div class="label">
                        Rating
                    </div>
                </div>
                <div class="statistic">
                    <div class="value">
                        <i class="small {% if player_rank == 1 %}star{% elif player_rank == 2 %}star outline{% else %}certificate{% endif %} icon"></i> {{ player_rank }}
                    </div>
                    <div class="label">
                        Rank
                    </div>
                </div>
            </div>
        </div>

        <div class="sixteen wide column" id="skillgraph"></div>

        <div class="eight wide column">
            {% set matches = player.matches %}
            {% include 'match_table.jinja2' %}
        </div>
        <div class="eight wide column" id="wingraph"></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/d3@5.5.0/dist/d3.min.js"></script>
    <script src="{{ request.static_url('volley:static/winchance_player_graph.js') }}"></script>
    <script src="{{ request.static_url('volley:static/skillgraph.js') }}"></script>
    <script>
        winchance_connectivity_data = [
            {% for c in connectivity if not connectivity[c]['num_played_together'] == 0 %}
                {
                    score: {{ "%0.1f" % (connectivity[c]['win_rate'] * 100)}},
                    width: {{ connectivity[c]['num_played_together'] }},
                    name: "{{ c }}"
                },
            {% endfor %}
        ];

        {% if player.matches %}
            winrate = {{ "%1.0f" % (((player.wins()|length)/(player.matches|length))*100) }};
        {% else %}
            winrate = "?";
        {% endif %}

        winchance_player_graph("#wingraph", winchance_connectivity_data, winrate);

        skillgraph_data = [
            {% for h in player.history %}
                {
                    index: {{ loop.index0 }},
                    skill: {{ h['skill'] }},
                    confidence_lower: {{ h['skill'] - 2*h['confidence'] }},
                    confidence_upper: {{ h['skill'] + 2*h['confidence'] }},
                    win: {{ h['match'].won(player) | int }},
                    rating: {{ h['exposure'] }}
                },
            {% endfor %}
        ];
        skillgraph('#skillgraph', skillgraph_data);
    </script>

    <link rel="stylesheet" href="{{ request.static_url('volley:static/winchance_player_graph.css') }}">
    <link rel="stylesheet" href="{{ request.static_url('volley:static/skillgraph.css') }}">


{% endblock %}